/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

.page {
  background-image: url(/images/cover-image-light.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--main-font), sans-serif;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 100vh;
  padding: 10px; 
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}
.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-inline-end: 1px solid var(--text-color);
  border-block-start: 1px solid var(--text-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;  
  border-inline-start: 1px solid var(--text-color);
  border-block-end: 1px solid var(--text-color);
}

.header_decor {
  display: none;
}

.header__theme-menu {
  display: flex;
  justify-content: end;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  }


.header__theme-menu-button {
  border: none;
  padding: 0px 13px;
  min-inline-size: 70px;
  min-height: 26px;
  color: var(--text-color);
  font-size: var(--main-font-size);
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--text-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--text-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--text-color);
  pointer-events: none;
}

.header_description {
  display: flex;
  justify-self: end;
  align-self: center;
  width: 100%;
  height: min-content;
}

.header_title {
  color: var(--header-title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--title-decor-color);
  background-color: var(--accent-color);
}







.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section_title {
  font-weight: 700;
  width: 100%;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--text-color);
}

.title-decor_regular {
  font-weight: normal;
}

.section_subtitle {
  margin-block-end: 20px;
}

.text {
  font-family: var(--main-font);
  color: var(--text-color);
  line-height: var(--main-line-height);
  padding-block-start: 10px;
  padding-block-end: 20px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.text-link:hover {
  text-decoration: underline;
}

.text-link:focus {
  outline: 1px solid var(--text-color);
}





.section_gallery {
  display: grid;
  gap: 10px;
}
.gallery_image {
 width: 100%;
 height: 100%;
 object-fit: cover;
}




.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
}
.footer__title {
  color: var(--header-title-color);
  font-weight: bold;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}





@media (width >=768px) {
  .header {
    padding-block-start: 20px;
    padding-inline-end: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;  
  }
  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_description {
    width: calc(100%/2 - 40px);
  }

  .content {
    gap: 60px;
    padding: 60px 20px;
  }

.section_reasons,
.section_advises {
  grid-template-columns: 1fr 2fr;
}

.section_title {
  width: clamp(236px, calc(100vw/3 - 20px), 315px);
}

.section_gallery {
  gap: 20px;
}

.gallery_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  gap: 20px;
  grid-template-areas: 
  "sunset sunset ice-cream"
  "tape books ice-cream"
  "tape street street";
}

.gallery_item-sunset {
  grid-area: sunset;
}

.gallery_item-ice-cream {
  grid-area: ice-cream;
}

.gallery_item-tape {
  grid-area: tape;
}

.gallery_item-books {
  grid-area: books;
}

.gallery_item-street {
  grid-area: street;
}

}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-content: center;
    align-items: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header_title {
    text-shadow: 4px 4px 0 var(--text-shadow-color);
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--text-shadow-color);
  }

  .causes_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
 }

