/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

.page {
  background-color: var(--background-color);
  font-family: var(--main-font), sans-serif;
}

/*Header*/

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 100vh;
  padding: 10px; 
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;  
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
}

.header_decor {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--accent-color);
  font-size: var(--main-font-size);
  visibility: var(--visibility);
}

.header_decor:after {
  content: "";
  display: block;
  position: relative;
  inline-size: 9px;
  block-size: 9px;
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 100%;
  background-color: var(--accent-color);
}

.header__theme-menu {
  display: flex;
  justify-content: end;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  padding: 0px 13px;
  min-inline-size: 70px;
  min-block-size: 26px;
  color: var(--menu-color);
  font-size: var(--main-font-size);
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  pointer-events: none;
}

.header_description {
  display: flex;
  justify-self: end;
  align-self: center;
  inline-size: 100%;
  block-size: min-content;
  color: var(--title-decor-color);
}

.header_title {
  color: var(--header-title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--title-decor-color);
  background-color: var(--accent-color);
}

/*MAIN SECTION*/

.content {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: var(--gap_size-medium);
}

.section_list {
  display: grid;
  gap: var(--gap_size-medium);
  align-items: start;
}

.list-item {
  display: grid;
  gap: var(--gap_size-small);
}

.section_title {
  font-weight: 700;
  inline-size: 100%;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--section-title-color);
}

.title-decor_regular {
  font-weight: 400;
}

.text {
  font-family: var(--main-font);
  color: var(--text-color);
  line-height: var(--main-line-height);
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.text-link:hover {
  text-decoration: underline; 
}

.text-link:focus {
  outline: 1px solid var(--text-color);
}

/*MAIN GALLERY*/

.section_gallery {
  display: grid;
  gap: var(--gap_size-small);
}

.gallery_image {
 inline-size: 100%;
 block-size: 100%;
 object-fit: cover;
}

/*FOOTER*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
}
.footer__title {
  color: var(--header-title-color);
  font-weight: bold;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

/*Media 768px*/

@media (width >=768px) {
  .header {
    padding-block-start: 20px;
    padding-inline-end: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;  
  }

  .header_decor {
    top: 20px;
    right: 29px;
  }

  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_description {
    inline-size: calc(50% - 20px);
  }

  .content {
    gap: 80px;
    padding: 60px 20px;
  }

  .section_reasons,
  .section_advises {
    grid-template-columns: repeat(3, 1fr);
  }
  .reasons_list,
  .advises_list {
    grid-column-start: span 2;
  }


.section_title {
    inline-size: clamp(236px, calc(100vw/3 - 20px), 315px);
  }

.section_gallery {
    gap: var(--gap_size-medium);
  }

.gallery_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  gap: var(--gap_size-medium);
  grid-template-areas: 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  }

.gallery_item-sunset {
  grid-area: sunset;
}

.gallery_item-ice-cream {
  grid-area: ice-cream;
}

.gallery_item-tape {
  grid-area: tape;
}

.gallery_item-books {
  grid-area: books;
}

.gallery_item-street {
  grid-area: street;
}
}

/*Media 1024px*/

@media (width >= 1024px) {

  .header__theme-menu {
    justify-content: center;
    align-items: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header_title {
    text-shadow: 4px 4px 0 var(--text-shadow-color);
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--text-shadow-color);
  }

  .causes_list {
    grid-template-columns: repeat(3, 1fr);
  }
 }

