/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --main-font: 'IBM Plex mono';
  --text-shadow-color: #ff0070;

}