/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --header-title-color: #ffc2e6;
  --title-decor-color: #353430;
  --main-font: 'IBM Plex mono';
  --main-font-size: 18px;
  --main-line-height: 23.4px;
  --text-shadow-color: #ff0070;
}